{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<style>
      h4{
  color: white;
  font-family: Raleway;
  text-align: center;
}
img{
    height:60px;
    width:220px;
}
</style>
</head>

<body>
    <ul>

<li style="float: left;"><a href="#"><b><img src="{% static 'image/logo.jpeg' %}"></b></a></li>
  
  
</ul>

<div class="row">
<div class="col-lg-7">
  <h1>"Stocks don't move up<br>they are moved"</h1>
  <img src="{% static 'image/back.png' %}" id="main_image" class="mainimage">
</div>
<div class="col-lg-4">
<form class="form-container " action="{% url 'otp' %}" method="POST" style="margin-top: 45%">
    {% csrf_token %}
   
    <legend><center>Verify OTP</center></legend>
        <div class="form-group">
            <label for="otp">OTP :</label>
            <input type="number" name="otp" class="form-control" placeholder="OTP" required>
            </div>
        
        
        
        
            
        
              
            
        
            <div class="col-sm-11">
                    <center>
                        <button class="btn btn-success ">Verify OTP</button></center>
                        <br>
            </div>
                    <br>
                <br>    
    </form>
</div>

</div>
<footer><h4>A DoCW Original</h4></footer>

</body>
</html>
