{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<style>
  .jumbotron{
    background-color: rgba(0,0,0,0.5)
  }
  h4{
  color: white;
  font-family: Raleway;
  text-align: center;
}

</style>
</head>
<body>
    <ul>
        <li style="float: left;"><a href="#"><b><img style=" height:60px;
          width:220px;" src="{% static 'image/logo.png' %}"></b></a></li>
  
  
</ul>
<div class="col-tg-4">
 
  <img src="{% static 'image/back.png' %}"  class="lastimage">
</div

   <center>
     <div class="jumbotron">
    <h2 style="color: white;font-family: Raleway; font-size: 30 px;text-align:center;margin:  0% 10% 0% 10%">Thank you for registering with us.Please verify your email with the link sent to your email.The stock market will be live on 1st Feb.Visit us to witness the mini stock world</h2>
      </div></center>  
      <h4>A DoCW Original</h4>
        
        
            
        
              
            
        
            
                    <br>
                <br>    
    
</div>

</body>
</html>
